<p-menubar class="animate__animated animate__fadeInLeft" [model]="items" [ngStyle]="{backgroundColor:'var(--blue-500)'}"  id="menubarHeader">
</p-menubar>
<div class=""  style="background-image:url('assets/images/fondoPrueba.jpg')" width="100%" >
    <div >
        <div class="row">
            <div class="col-3">
                <img  src="assets/images/karvaes.png" alt="">
            </div>  
            <div class="col animate__animated animate__fadeInLeft">
                <p-card header="NOSOTROS" class="p-element animate__animated animate__fadeInLeft" [style]="{'width': '80%', 'margin-bottom': '4em','margin-top': '4em','padding': '1em',  'opacity':' .5' }">
            <ng-template pTemplate="header">
                
<!--                 <img alt="Card" src="assets/images/fondoPrueba.jpg">
 -->            </ng-template >
             <p style="text-align: justify; color: black; opacity: 1;">
            En Karvaes, buscamos dar 100% satisfacción y atención personalizada a nuestros clientes.
            Somos un despacho familiar, constituido como Karvaes Servicios S.C., desde 2015.
            Nuestra rama profesional es la contaduría, trabajamos de manera independiente.
            Contamos con un grupo de clientes que se compone de, personas morales, personas físicas y negocios que tributan en RIF (Régimen de Plataformas Tecnologicas).
            Por lo que nuestros servicios contables abarcan diversos regímenes.
            Analizamos la necesidad del cliente, se definen las opciones y ahorro en tiempo para la entrega de resultados, con opinión del cliente se busca una forma de sintetizar la revisión de resultados y entrega oportuna de las obligaciones.
             </p>
        
        </p-card>
        
    </div>
</div>
</div>