<div    style=" background-image:url('assets/images/vector.jpg'); padding: 10em;" >
                
    <div class="row animate__animated animate__fadeInLeft" style="  margin-left: 4em;" >

        <h1 style="font-family: 'Cormorant',
         serif; font-size: 120px; color:rgb(4, 27, 48)">
            KARVAES SERVICIOS
        </h1>        
        
            <div style="width: 70%;">    
            <p style="text-align: justify; color:black; opacity: 1; font-size: 23px; ">
Transportacion
                </p>
            </div>

</div>


</div>
