<div class="cuerpo">

    <div class="col-md-12 noPadding">
        <div style=" background-image:url('assets/images/vector.jpg'); height: 700px; " class="filterBack">
        </div>
        <div class="abs text-center">
            <div data-aos="zoom-out" data-aos-offset="300" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                <h2 class="absTitle" style="font-family: 'Secular One',
                 serif; color: #0143A0; ">Aviso de privacidad</h2>
                <img width="16%" src="assets/images/karvaesLogo.png">
            </div>

        </div>
    </div>
</div>
<br>
<br>
<div>
    <!-- <p-card [style]="{'width':'80%' }">
 -->
    <div data-aos="fade-up" data-aos-duration="2000">


        <br>
        <h1 style="color: #576775; text-align: center; font-family: 'Secular One',
    serif; font-size: 60px;">
            Aviso de privacidad
        </h1>
        <p
            style="margin: 2% 7% 2% 7% ; text-align:center;padding: 40px;font-family: 'Cormorant', serif; font-size: 24px; text-align: justify; font-weight: bold; ">


            Karvaes Servicios S.C., con domicilio en Calle Retoño 809-162, El Retoño, Iztapalapa C.P.09440 Ciudad de
            México, manifiesta que la información solicitada podrá consistir en datos indispensables para la
            identificación de los servicios que sean necesarios para el desarrollo de las consultas o trabajos
            solicitados por el cliente, sin que estos sean divulgados o utilizados comercialmente por ningún motivo a
            terceros por el carácter de confidencialidad de los mismos, de conformidad a la fracción II del artículo 2°
            de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.</p>
        <img data-aos="zoom-out-up" data-aos-easing="linear" data-aos-duration="2200"
            style="margin-left:25% ;margin-top: 8%; " src="assets/images/graph.png" alt="">



    </div>

    <!-- </p-card>
 -->
</div>