@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;1,300&family=DM+Serif+Display&family=PT+Serif+Caption&display=swap');

.lettersCustomize{
    font-family: 'Cormorant', serif; 
    font-size: 28px;

}
.lettersCustomizeSize{
    font-family: 'Cormorant', serif; 
    font-size: 22px;

}