<!-- <p-card [style]="{'width':'80%' }">
 -->
<div class="cuerpo">

    <div class="col-md-12 noPadding">
        <div style=" background-image:url('assets/images/vector.jpg'); height: 700px; " class="filterBack">
        </div>
        <div class="abs text-center">
            <div data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                <h2 class="absTitle" style="font-family: 'Secular One',
serif; color: #0143A0; ">Servicios</h2>
                <img width="16%" src="assets/images/karvaesLogo.png">
            </div>

        </div>
    </div>
</div>

<div data-aos="fade-up" data-aos-duration="2000">

    <div style="margin-top: 13%;" class="row">

        <div style="font-family: 'Secular One',
    serif;" class="col">
            <h1 style="margin-top: 5%; margin-left: 10%;">
                Contamos con servicios
                <h1 style="color: #576775;">
                    contables
                </h1>
            </h1>
            <p
                style="text-align:center;padding: 40px;font-family: 'Cormorant', serif; font-size: 24px; text-align: justify; font-weight: bold; ">
                Contabilidad para empresas o personas morales
                Contabilidad para personas físicas
                Cálculo de Impuestos mensuales en todas y cada una de las obligaciones ante el SAT
                Facturación electrónica
                Registro de pólizas
                Declaraciones mensuales, informativas y anuales
                Elaboración de estados financieros
                Revisiones Mensuales o bimestrales de presentación de estados Financieros y revisión de resultados.
                Consultoría Fiscal
            </p>
        </div>
        <div class="col">
            <img style="margin-top: 20%; border-radius: 4%;" src="assets/images/contabilidad.jpg" alt="">
        </div>
    </div>


</div>

<!-- </p-card>
 -->

<div class="row">
    <div data-aos="fade-right" data-aos-duration="1000">
        <div style="margin-top: 13%;" class="row">
            <div class="col">
                <img style="margin-left:20%; border-radius: 4%;" src="assets/images/contabilidad/nominasnfndo.png"
                    width="80%" alt="">

            </div>
            <div class="col">

                <h1 style="color: #576775; text-align: center;">
                    Nomina
                </h1>
                <p class="lettersCustomizeSize"
                    style="text-align:center;padding: 40px;font-family: 'Cormorant', serif; font-size: 24px; text-align: justify; font-weight: bold; margin-right: 5%;">
                    Cálculo y timbrado de nómina
                    Altas, bajas, modificaciones de salario
                    Trámites de IDSE y SUA
                    Cálculo de finiquito y liquidaciones
                    Elaboración de contratos individuales de trabajo
                </p>
            </div>

        </div>

    </div>

    <div data-aos="fade-left" data-aos-duration="1500" data-aos-delay="300">

        <div style="margin-top: 13%;" class="row">

            <div class="col">
                <h1 style="color: #576775; text-align: center;">IMSS / INFONAVIT</h1>
                <p style="text-align:center;padding: 40px;font-family: 'Cormorant', serif; font-size: 24px; text-align: justify; font-weight: bold; margin-right: 0%;"
                    class="lettersCustomizeSize">
                    Presentación oportuna de avisos de alta, baja y modificaciones de salarios a través del IDSE, así
                    como la determinación
                    y entero de las cuotas obrero patronales del IMSS e INFONAVIT mediante la captura y mantenimiento
                    del SUA.
                </p>
            </div>

            <div class="col">
                <img style="border-radius: 4%;" src="assets/images/contabilidad/infonavit.jpg" width="90%" alt="">

            </div>
        </div>

    </div>
    <div data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000" data-aos-easing="ease-in-sine">

        <div style="margin-top: 20%;" class="row">
            <div class="col">
                <img style="margin-left:10%; border-radius: 4%;" src="assets/images/contabilidad/declaracion.jpg"
                    width="90%" alt="">
            </div>
            <div class="col">
                <h1 style="color: #576775; text-align: center;">DECLARACIONES</h1>
                <p class="lettersCustomizeSize"
                    style="text-align:center;padding: 40px;font-family: 'Cormorant', serif; font-size: 24px; text-align: justify; font-weight: bold; margin-right: 5%;">
                    INFORMATIVAS Y ANUALES

                    Determinación del impuesto anual, en base a la documentación comprobatoria, así como el llenado y
                    envío de la declaración anual correspondiente, de acuerdo al Régimen fiscal en que se tribute.
                </p>
            </div>
        </div>
    </div>

    <div data-aos="fade-left" data-aos-duration="1500" data-aos-delay="300">

        <div style="margin-top: 13%;" class="row">

            <div class="col">
                <h1 style="color: #576775; text-align: center;">TRAMITES Y GESTORIAS</h1>
                <p style="text-align:center;padding: 40px;font-family: 'Cormorant', serif; font-size: 24px; text-align: justify; font-weight: bold; margin-right: 0%;"
                    class="lettersCustomizeSize">
                    Creación de empresas
                    Liquidación y suspensión de empresas
                    Solicitud de verificación de domicilio
                    Trámite REPSE
                    Cancelación de requerimientos SAT, IMSS e INFONAVIT
                </p>
            </div>

            <div class="col">
                <img style="border-radius: 4%;" src="assets/images/contabilidad/infonavit.jpg" width="90%" alt="">

            </div>
        </div>

    </div>
    <div style="margin-top: 13%;"></div>