
    <!-- <p-card [style]="{'width':'80%' }">
 -->
 <div class="cuerpo">

    <div class="col-md-12 noPadding">
            <div style=" background-image:url('assets/images/vector.jpg'); height: 700px; "  class="filterBack">
            </div>
            <div class="abs text-center">
                <div data-aos="fade-right"
data-aos-offset="300"
data-aos-duration="1000"
data-aos-easing="ease-in-sine">
<h2 class="absTitle" style="font-family: 'Secular One',
serif; color: #0143A0; " >Contabilidad</h2>
                    <img width="16%" src="assets/images/karvaesLogo.png">
                </div>
                 
            </div>
    </div>
</div>

    <div data-aos="fade-up" data-aos-duration="2000">
 
        <div style="margin-top: 13%;" class="row">

            <div style="font-family: 'Secular One',
    serif;" class="col">
                <h1 style="margin-top: 5%; margin-left: 10%;">
                    ¿Qué son los servicios
                    <h1 style="color: #576775;">
                        contables?
                    </h1>
                </h1>
                <p
                    style="text-align:center;padding: 40px;font-family: 'Cormorant', serif; font-size: 24px; text-align: justify; font-weight: bold; ">
                    Procesamiento de su contabilidad, que es, los datos (ingresos y egresos de los contribuyentes) de
                    los diferentes
                    regímenes fiscales establecidos por el SAT, como el resultado de operaciones financieras. Para
                    calcular y determinar el pago de sus impuestos.
                    El registro en sistemas contables, control de ingresos y egresos, dependiendo de la obligación que
                    tenga el contribuyente, persona moral o persona física, de todas y cada una de sus operaciones.
                    Presentación de los estados financieros y reportes auxiliares que permitan conocer la situación
                    contable, para la toma de decisiones y el pago correcto y oportuno de las contribuciones retenidas y
                    causadas.
                </p>
            </div>
            <div class="col">
                <img style="margin-top: 20%; border-radius: 4%;" src="assets/images/contabilidad.jpg" alt="">
            </div>
        </div>


    </div>

    <!-- </p-card>
 -->

<div class="row">
    <div data-aos="fade-right"
    data-aos-duration="1000" >
        <div style="margin-top: 13%;" class="row">
            <div class="col">
                <img style="margin-left:20%; border-radius: 4%;" src="assets/images/contabilidad/nominasnfndo.png"
                    width="80%" alt="">

            </div>
            <div class="col">

                <h1 style="color: #576775; text-align: center;">
                    Nomina
                </h1>
                <p class="lettersCustomizeSize"
                    style="text-align:center;padding: 40px;font-family: 'Cormorant', serif; font-size: 24px; text-align: justify; font-weight: bold; margin-right: 5%;">
                    Contamos también con el servicio de administración Nóminas, el cual consta de:

                    Altas, bajas y modificaciones de IMSS
                    Cálculo semanal, quincenal o mensual
                    Recibos electrónicos
                    Todo conforme a las disposiciones actuales de nómina con el procesador de nóminas contpac

                    En este servicio el proceso es:

                    Recibir incidencias de parte del cliente y una vez que se tiene el cálculo se manda para visto
                    bueno; una vez que se tiene la autorización, se procede al timbrado de recibos electrónicos y envío
                    individual de los mismos.
                </p>
            </div>

        </div>

    </div>

    <div data-aos="fade-left"
    data-aos-duration="1500"
    data-aos-delay="300"
    >

        <div style="margin-top: 13%;" class="row">

            <div class="col">
                <h1 style="color: #576775; text-align: center;">IMSS / INFONAVIT</h1>
                <p style="text-align:center;padding: 40px;font-family: 'Cormorant', serif; font-size: 24px; text-align: justify; font-weight: bold; margin-right: 5%;"
                    class="lettersCustomizeSize">
                    Contamos también con el servicio de administración Nóminas, el cual consta de:

                    Altas, bajas y modificaciones de IMSS
                    Cálculo semanal, quincenal o mensual
                    Recibos electrónicos
                    Todo conforme a las disposiciones actuales de nómina con el procesador de nóminas contpac

                    En este servicio el proceso es:

                    Recibir incidencias de parte del cliente y una vez que se tiene el cálculo se manda para visto
                    bueno; una vez que se tiene la autorización, se procede al timbrado de recibos electrónicos y envío
                    individual de los mismos.
                </p>
            </div>

            <div class="col">
                <img style="border-radius: 4%;" src="assets/images/contabilidad/infonavit.jpg"
                    width="90%" alt="">

            </div>
        </div>

    </div>
    <div data-aos="fade-right"
    data-aos-offset="300"
    data-aos-duration="1000"
    data-aos-easing="ease-in-sine">

    <div style="margin-top: 20%;" class="row">
        <div class="col">
            <img style="margin-left:10%; border-radius: 4%;" src="assets/images/contabilidad/declaracion.jpg"
            width="90%" alt="">
        </div>
        <div class="col">
                    <h1 style="color: #576775; text-align: center;">DECLARACIONES</h1>
                    <p class="lettersCustomizeSize"
                    style="text-align:center;padding: 40px;font-family: 'Cormorant', serif; font-size: 24px; text-align: justify; font-weight: bold; margin-right: 5%;">
                        Contamos también con el servicio de administración Nóminas, el cual consta de:
        
                        Altas, bajas y modificaciones de IMSS
                        Cálculo semanal, quincenal o mensual
                        Recibos electrónicos
                        Todo conforme a las disposiciones actuales de nómina con el procesador de nóminas contpac
        
                        En este servicio el proceso es:
        
                        Recibir incidencias de parte del cliente y una vez que se tiene el cálculo se manda para visto bueno;
                        una vez que se tiene la autorización, se procede al timbrado de recibos electrónicos y envío individual
                        de los mismos.
                    </p>
        </div>
    </div>
</div>
<div style="margin-top: 13%;"></div>