<div style="background-color: #9BDCFA; font-family: 'Secular One',
serif;">
    <br>
<p-carousel     [value]="products" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template  pTemplate="header">
        <h2 style="text-align: center; font-family: 'Secular One',
        serif;">Testimonios</h2>
        <br>
        <br>
    </ng-template> 
    
    <ng-template  let-product pTemplate="item">
        <div  class="product-item">
            <div  class="product-item-content">
                <div  class="p-mb-3">
                </div>
                <div style="align-items: center;">
                    <h4 style="margin-left: 16%;" class="p-mb-1">{{product.name}}</h4>
                    <h6 style="margin-left: 18%;" class="p-mt-0 p-mb-3">Servicio: {{product.description}}</h6>
                    <img style="margin-left: 25%; border-radius: 50%;" width="100px" height="100px" src={{product.image}} alt="">
                    <br>
                    <p style="margin-left: 4%; margin-right: 4%;" [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</p>
                    <div style="margin-left: 30%;" class="car-buttons p-mt-5">
                        <p-button  type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
                        <p-button style="margin-left: 4%;" type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
                        <p-button style="margin-left: 4%;" type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>
<div style="margin-bottom: 100px;"></div>
</div>