<div    style=" background-image:url('assets/images/vector.jpg'); padding: 10em;" >
	<div class="row">
		<div class="col" style="margin-top: -100px;">
			<h2 style="font-family: 'Secular One' ">Contactanos y ¡Trabajemos juntos!</h2>
			<p style=" font-family: 'Cormorant', serif;margin: 20px 100px 20px 20px ; text-align: justify; font-size: 20px;">
				<strong>Si deseas consultar mayor información sobre nuestros servicios o tienes alguna duda 
				 al respecto, no dudes en solicitar una consultoría gratuita y uno de nuestros 
				asesores te contactará a la brevedad.</strong></p>
				<h5><a style="text-decoration: none; color:black" target="_blank" href="https://wa.link/qfr0r4"><img src="assets/images/whats.png" style="width: 20px;" alt=""> whatsapp: 5584252866</a></h5>
				<h5 style="margin-bottom: -25px;">Retoño 809 #162 Col. El Retoño C.P. 09440</h5>
				<app-maps></app-maps>
		</div>
		<div class="col-6">
			<p-card [style]="{ }">
				<h2 style="text-align: center;">Contactanos</h2>

				<form (submit)="sendNotification()" [formGroup]="aFormGroup">
						  <input inputId="name" formControlName="name" type="text" name="name" class="form-control" placeholder="Full Name" required>
						  <input inputId="email" formControlName="email"  type="email" name="email" class="form-control" placeholder="Email Address" required>
					  <textarea placeholder="Describe la información a consultar" class="form-control" 
					  inputId="message" formControlName="message"  type="message" rows="10" required></textarea>

					<button type="submit" class="btn btn-lg btn-dark btn-block">Enviar notificación</button>
					<input inputId="_captcha" type="hidden"  formControlName="_captcha" name="_captcha" class="form-control"  value="false">

				  </form>


<!-- 				<form class="topBefore" id="contactform" action="https://formsubmit.co/albertoojeda44@aragon.unam.mx" method="POST">
					<input name="name" type="text" id="name" placeholder="NAME">
					<input name="email" type="email" placeholder="E-MAIL" id="email">
					<textarea name="comment" id="comment" placeholder="MENSAJE" rows="3"></textarea>
					<input name="_formsubmit_id" type="text" style="display:none">
				
					<input value="Submit" type="submit">

			   </form> -->


				

	
			  
			</p-card>
		</div>
	</div>
<div style="margin-top: 20%;">

</div>
</div>