<div    style=" background-image:url('assets/images/vector.jpg'); padding: 10em;" >
	<div class="row">
		<div class="col" style="margin-top: -100px;">
			<h2 style=" font-family:  serif; font-size: 40px;">Contactanos y ¡Trabajemos juntos!</h2>
			<p style=" font-family: 'Cormorant', serif;margin: 20px 100px 20px 20px ; text-align: justify; font-size: 20px;">
				<strong>Si deseas consultar mayor información sobre nuestros servicios o tienes alguna duda 
				 al respecto, no dudes en solicitar una consultoría gratuita y uno de nuestros 
				asesores te contactará a la brevedad.</strong></p>
				<h5><a style="text-decoration: none; color:black" target="_blank" href="https://wa.link/qfr0r4"><img src="assets/images/whats.png" style="width: 20px;" alt=""> whatsapp: 5584252866</a></h5>
				<h5 style="margin-bottom: -25px;">Retoño 809 #162 Col. El Retoño C.P. 09440</h5>
				<app-maps></app-maps>
		</div>
		<div class="col-6">
			<p-card [style]="{ }">
				<h2 style="text-align: center;">Contactanos</h2>
			<form id="form" class="topBefore">
					
					  <input id="name" type="text" placeholder="NAME">
					  <input id="email" type="text" placeholder="E-MAIL">
					  <textarea id="message" type="text" placeholder="MESSAGE"></textarea>
			  <input id="submit" type="submit" value="GO!">
			  
			</form>
			</p-card>
		</div>
	</div>

</div>