<!--Herramienta para construir formularios
        https://bootstrapformbuilder.com/ -->
<br>
<div style="background-image:url(https://previews.123rf.com/images/skdesign/skdesign1501/skdesign150100022/38447884-minimalista-cuarto-de-ba%C3%B1o-interior-con-un-peque%C3%B1o-lavabo-en-un-contador-montado-en-la-pared-debajo-.jpg)" >
<div class="container" style="margin-top: 100px;">
    <p-card [style]="{'width':'50%'}">
        <p>
                Procesamiento de su contabilidad, que es, los datos (ingresos y egresos de los contribuyentes) de los diferentes regímenes fiscales establecidos por el SAT, como el 
                resultado de operaciones financieras. Para calcular y determinar el pago de sus impuestos.
El registro en sistemas contables, control de ingresos y egresos, dependiendo de la obligación que tenga el contribuyente, persona moral o persona física, de todas y cada una de sus operaciones.
Presentación de los estados financieros y reportes auxiliares que permitan conocer la situación contable, para la toma de decisiones y el pago correcto y oportuno de las contribuciones retenidas y causadas.
        </p>
</p-card>

</div>
</div>
