<!--Herramienta para construir formularios
        https://bootstrapformbuilder.com/ -->

        
       
        <div    style=" background-image:url('assets/images/fondo.jpg'); padding: 10em;" >
                
                <div class="row animate__animated animate__fadeInLeft" style="  margin-left: 4em;" >
        
                   <!--  <div class="col-3" style="margin-top: -50px;   z-index: 0;            ">
                        <img  src="assets/images/karvaes.png" alt="">
                    </div>   -->  
                    <h1 style="font-family: 'Cormorant',
                     serif; font-size: 180px; color:rgb(163, 119, 5)">
                        KARVAES
                    </h1>        
                    
                        <div style="width: 50%;">    
                        <p style="text-align: justify; color:white; opacity: 1; ">
                            En Karvaes, buscamos dar 100% satisfacción y atención personalizada a nuestros clientes.
                            Somos un despacho familiar, constituido como Karvaes Servicios S.C., desde 2015.
                            Nuestra rama profesional es la contaduría, trabajamos de manera independiente.
                            Contamos con un grupo de clientes que se compone de, personas morales, personas físicas y negocios que tributan en RIF (Régimen de Plataformas Tecnologicas).
                            Por lo que nuestros servicios contables abarcan diversos regímenes.
                            Analizamos la necesidad del cliente, se definen las opciones y ahorro en tiempo para la entrega de resultados, con opinión del cliente se busca una forma de sintetizar la revisión de resultados y entrega oportuna de las obligaciones.
                            </p>
                        </div>
            
                        <!-- <div class="col-9 animate__animated animate__fadeInLeft" style="padding: 2em;" >
                        <p-card header="" class="p-element animate__animated animate__fadeInLeft" [style]="{'width': '100%', 'margin-bottom': '4em','margin-top': '4em','padding': '1em',  'opacity':' 0.9' }">
                      
                    <ng-template pTemplate="header">
                        
                         </ng-template >
                     <p style="text-align: justify; color: black; opacity: 1; ">
                    En Karvaes, buscamos dar 100% satisfacción y atención personalizada a nuestros clientes.
                    Somos un despacho familiar, constituido como Karvaes Servicios S.C., desde 2015.
                    Nuestra rama profesional es la contaduría, trabajamos de manera independiente.
                    Contamos con un grupo de clientes que se compone de, personas morales, personas físicas y negocios que tributan en RIF (Régimen de Plataformas Tecnologicas).
                    Por lo que nuestros servicios contables abarcan diversos regímenes.
                    Analizamos la necesidad del cliente, se definen las opciones y ahorro en tiempo para la entrega de resultados, con opinión del cliente se busca una forma de sintetizar la revisión de resultados y entrega oportuna de las obligaciones.
                     </p>
                    
                    </p-card>
                    
                    </div> -->
        </div>
        
        
        </div>

       

   <div  data-aos="flip-left" style="background-color: white; padding: 2em;" >
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
                <div class="col">
        <p-card [style]="{'width':'100%', 'background-image':'url( assets/images/minimalist.jpg)'}">
                <h6 style="text-align:center;" >Persona Fisicas</h6>
                <br>
                <p style="text-align:center ;">
                        <button  (click)="showModalDialog()" pButton pRipple type="button" label="Personas Fisicas" class="p-button-raised p-button-secondary p-button-text"></button>
                <p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                    [draggable]="false" [resizable]="false">
                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ng-template pTemplate="footer">
                            <p-button icon="pi pi-check" (click)="displayModal=false" label="Yes" class="p-button-text"></p-button>
                            <p-button icon="pi pi-times" (click)="displayModal=false" label="No"></p-button>
                        </ng-template>
                </p-dialog>
        </p>
        </p-card>
</div>
<div class="col">
        <p-card [style]="{'width':'100%', 'background-image':'url( assets/images/minimalist.jpg)'}">
                <h6 style="text-align:center;">Personas Morales</h6>
                <br>
                <p style="text-align:center ;">
                        <button (click)="showModalDialog()" pButton pRipple type="button" label="Personas Morales" class="p-button-raised p-button-secondary p-button-text"></button>
                        <p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                            [draggable]="false" [resizable]="false">
                            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <ng-template pTemplate="footer">
                                    <p-button icon="pi pi-check" (click)="displayModal=false" label="Yes" class="p-button-text"></p-button>
                                    <p-button icon="pi pi-times" (click)="displayModal=false" label="No"></p-button>
                                </ng-template>
                        </p-dialog>
                </p>
                </p-card>
</div>
<div style="" class="col">
        <p-card [style]="{'width':'100%',  'background-image':'url( assets/images/minimalist.jpg)'}">
                <h6 style="text-align:center;" >Persona Regimen de incorporación fiscal</h6>
                <br>
                <p style="text-align:center ;">

                        <button (click)="showModalDialog()" pButton pRipple type="button" label="Regimen fiscal" class="p-button-raised p-button-secondary p-button-text"></button>
                <p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                    [draggable]="false" [resizable]="false">
                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ng-template pTemplate="footer">
                            <p-button icon="pi pi-check" (click)="displayModal=false" label="Yes" class="p-button-text"></p-button>
                            <p-button icon="pi pi-times" (click)="displayModal=false" label="No"></p-button>
                        </ng-template>
                </p-dialog>
                </p>
                </p-card>
</div>
<div class="col">
        <p-card [style]="{'width':'100%', 'background-image':'url( assets/images/minimalist.jpg)'}">
                <h6 style="text-align:center;" >Persona Regimen de plataformas técnologicas</h6>
                <br>
                <p style="text-align:center ;">

                        <button (click)="showModalDialog()" pButton pRipple type="button" label="Regimen Plataformas" class="p-button-raised p-button-secondary p-button-text"></button>
                <p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                    [draggable]="false" [resizable]="false">
                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ng-template pTemplate="footer">
                            <p-button icon="pi pi-check" (click)="displayModal=false" label="Yes" class="p-button-text"></p-button>
                            <p-button icon="pi pi-times" (click)="displayModal=false" label="No"></p-button>
                        </ng-template>
                </p-dialog>
        </p>

                </p-card>
</div>

</div>
</div>
<br>
<app-contacto></app-contacto>
<app-maps></app-maps>