<br>
<br>
<div >
<!-- <p-card [style]="{'width':'80%' }">
 -->    <div data-aos="fade-up" data-aos-duration="2000">

    <h2 style="text-align:center; font-family: 'Cormorant', serif; font-size: 100px;" >SOBRE NOSOTROS</h2>
    <br>

    <p style="text-align:center;padding: 40px;font-family: 'Cormorant', serif; font-size: 26px; text-align: justify; margin: 20px 150px 20px 150px;">
        SOBRE NOSOTROS
En Karvaes, buscamos dar 100% satisfacción y atención personalizada a nuestros clientes.
Somos un despacho familiar, constituido como Karvaes Servicios S.C., desde 2015.
Nuestra rama profesional es la contaduría, trabajamos de manera independiente.
Contamos con un grupo de clientes que se compone de, personas morales, personas físicas y negocios que tributan en RIF (Régimen de Plataformas Tecnologicas).
Por lo que nuestros servicios contables abarcan diversos regímenes.
Analizamos la necesidad del cliente, se definen las opciones y ahorro en tiempo para la entrega de resultados, con opinión del cliente se busca una forma de sintetizar la revisión de resultados y entrega oportuna de las obligaciones.
</p>
<img style="margin-left:25% ;margin-top: 8%; margin-bottom: 8%;"  src="assets/images/graph.png" alt="">



</div>

<!-- </p-card>
 --></div>

 <div class="row">
    <div data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
    <div class="col-12" >
        <p class="lettersCustomizeSize" style="font-size: 26px; margin: 20px 600px 20px 200px; text-align: justify;">
            El proceso consta de:

            Se recibe la información del cliente para el proceso de la contabilidad
            
             
            
            Registro y captura de pólizas de ingresos, egresos y diario en forma mensual.
            Emisión de estados financieros mensuales y envío de los mismos de manera mensual.
            Cálculo de, impuesto Sobre la renta, impuesto al valor agregado, retenciones de ISR e IVA.
            Elaboración de declaraciones informativas.
            Declaraciones anuales.
             
            
            Todo se realiza en el sistema contable Contpaqi</p>
    </div>
</div>

    
    
 </div>
