<nav style="margin-top: 10%; background-color: #B5E2F8;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <img  src="assets/images/karvaesLogo.png" alt="">
                <a class="navbar-brand" href="#">Karvaes services</a>
        
            </div>
            <div style="margin-top: 2%;" class="col-4" >
                    <h5><a style="text-decoration: none; color:black" target="_blank" href="https://wa.link/qfr0r4"><img src="assets/images/whats.png" style="width: 20px;" alt=""> whatsapp: 5584252866</a></h5>
                    <h5 style="margin-bottom: -25px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                      </svg>  Retoño 809 #162 Col. El Retoño C.P. 09440</h5>
            </div>
        </div>
    </div>
</nav>